<h1>ENJOY CHATTING</h1>

<div id="message_holder">
  <% @all_msg.reverse.each do |msg| %>
    <p>
      <span class="small-margin"><%= msg.user.username %>-</span><strong><%= msg.content %></strong>
    </p>
  <% end %>
</div>

<%= form_for @message, remote: true, html: { id: 'myForm' } do |f| %>
  <%= f.text_field :content, id: 'input-field' %>
  <%=  f.hidden_field :user_id, value: current_user.id%>
  <%= f.submit "send"%>
<% end %>

<script>
    $(document).ready(function() {
    // Scroll to the bottom on page load
    scrollToBottom();

    // Define the scrollToBottom function
    function scrollToBottom() {
      var messageHolder = $('#message_holder');
      messageHolder.scrollTop(messageHolder[0].scrollHeight);
    }
  });
</script>